<div class="partial-table d-block">
    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
        <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>Uraian Pekerjaan</th>
                <th>Plan Start Scheduler</th>
                <th>Plan Finish Scheduler</th>
                <th>Durasi Plan</th>
                <th>Actual Start</th>
                <th>Actual Finish</th>
                <th>Durasi Actual</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>