@{
    ViewData["Title"] = "Planner";
    ViewData["PageName"] = "aspnetcore_planner";
}
<h2 class="alert-success">This Page is belongs to Planner</h2>
<h3>
    Planner Name: @Context.User.Identity.Name
</h3>