@{
    ViewData["Title"] = "Supervisor";
    ViewData["PageName"] = "aspnetcore_supervisor";
}
<h2 class="alert-success">
    This Page is belongs to Supervisor
</h2>
<h3>
    Supervisor Name: @Context.User.Identity.Name
</h3>